@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Monthly Project</h1>
        <p class="lead">Name :Md Golam Sarwer</p>
        <p class="lead">ID :1262060</p>
        <p>
            This Project have Commonly include :-<br />
            •	One to many relationship<br />
            •	 4 tables<br />
            •	Relational Table<br />
            •	Database First
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Branch Table</h2>
            <p>
                • Partial View <br />
                • One to  Many Relationship<br />
                • CRUD With  AJAX <br />

            </p>
        </div>
        <div class="col-md-4">
            <h2>Department Table</h2>
            <p>
                • CRUD With  Dropdown List <br />

            </p>
        </div>
        <div class="col-md-4">
            <h2>Employee Table</h2>
            <p>
                •	Image (Path on Database & Save on Folder)<br />
                •	Date Figure<br />
                • CRUD  <br />
                •	Validation

            </p>
        </div>

        <div class="col-md-4">
            <h2>Salary Table</h2>
            <p>
                •	 Model View <br />
                •	 Boolean Data<br />
                •	 Range Validation(Basic Salary)<br />
                •	CRUD With  Dropdown List <br />

            </p>
        </div>
    </div>